# Node
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Variables de entorno (nunca commitear)
.env
*.env.local

# Build
dist/
build/
coverage/

# Expo / React Native
.expo/
.expo-shared/
web-build/
ios/
android/

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
